body{
    background-image: url(https://i.pinimg.com/474x/60/04/30/600430c1d22c731b94cf4e7dae6b398a--passionate-couples-gif-collection.jpg);
    background-size: cover;
     
}
/* a{
    text-decoration: none;
    color:white;
    font-weight: 500;
}
a:hover{
    color:red;
} */
ul{
    list-style-type:none;
}
.navbar{
   
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 12vh;
    color: white;
}
/* section2 start */
.pagecontainer{
    position: relative;
    z-index: 1;
    /* padding-top: 11.11111111VW; */
    padding-top: 120px;
    overflow: hidden;
    width: 100vw;
}
.container-fluid{
    width: 100vw;
    padding: 0 9.72222222VW;
    margin: 0 auto;
}
.pagecontainer.intro{
    width: 54.51388889VW;
    perspective: 100px;
}
.pagecontainer.intro.mainheading{
    color: blue;
}
.mainheading{
    font-family: "Times new roman", serif;
    font-size: 5.41666667VW;
    line-height: 5.55555556VW;
    font-weight: 400;
    color: blue;
}
.pagecontainer.extrainformation{
    padding-top: 5.55555556VW;
    width: 27.77777778VW;
    color: #390000;
    margin-left: 53.125VW;
    perspective: 100px;
    text-align: left;
}

.midiumtitle{
    font-family: "Times new roman", serif;
    font-size: 2.70833333VW;
    line-height: 2.91666667VW;
    font-weight: 400;
    text-align: left;
    margin-left: 53.125VW;
    margin-right: 40px;
}
.extrainfodiv.midiumtitle h1{
    margin-left: 40px;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
 
section {
    display: block;
}

/* section 3 start */
/* .head-port{
    padding-top: 60px;
    
    margin-left: 50px;
}
.head-port{
    font-family: "Times new roman", serif;
    font-size: 5.41666667VW;
    line-height: 5.55555556VW;
    font-weight: 400;
    color: blue;
} */
.container div h2{
    text-align: center;
    font-family: "Times new roman", serif;
    font-size: 5.41666667VW;
    line-height: 5.55555556VW;
    font-weight: 400;
    color: blue;
    padding-top: 60px;
    padding-bottom: 30px;

}
.card{
    background-color: cadetblue;
    
}

/* section 5 start */
.head{
    width: 100%;
    align-items: center;
    border: 20px blue;
    border-radius: 30px white;
    box-shadow:  1px 1px 18px 1px cornflowerblue !important;
  margin-bottom: 20px;
}
.head h1{
    justify-items: center;
    align-items: center;
    text-align: center;
}
.webinfo{
    padding: 20px 20px ;
    border-radius: 5px blue;
    width: 100%;
    display: flex;
    justify-content: center space-between;
}
.lang{
    width: 25%;
    font-family: "Times new roman", serif;
    color: cadetblue;
    padding-left: 10px;
}

/* footer */
.inner-footer{
    margin: 0;
    padding: 20px 0px;
   
}
.social-link{
    display: flex;
}
.social-link ul{
    display: flex;
    width: 320px;
    height: 50px;
    margin: auto;
}
.social-item{
    list-style: none;
}
.social-item a{
    padding: 10px 20px;
    padding-bottom: 60px;
    font-size: 25px;
}
.fa-brands{
    color: blue;
}
.quick-link{
    display: flex;
    width: 400px;
    height: 25px;
   margin: auto;
   padding: 0px 15px;
 
     
}
.quick-link ul{
    display: flex;
   
    
    
}
.quick-items{
    list-style: none;
    display: inline;
   
}
.quick-items a:hover{
    color: cadetblue
}
.quick-items a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-left:  280px ;
    align-items: center;
    margin-bottom: 0%;

}
.outer-footer{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color:#3f3f3f;
    margin-bottom: auto;

}